{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="client">
        <h1>Liste des clients</h1>
        {% for client in clients %}
            <div>
                <p>{{ client.nom }}</p>
                <p>{{ client.prenom }}</p>
                <a href="{{ path('home_show', {'id': client.id}) }}" class="btn btn-primary">Plus d'informations</a>
            </div>
            <br>

        {% endfor %}
    </section>
{% endblock %}